@font-face {
  font-family: 'Quicksand-Light';
  src: url('../../assets/Quicksand/static/Quicksand-Light.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../assets/Quicksand/static/Quicksand-Regular.ttf');
}

.main {
  font-family: Quicksand-Light;
  display: block;
}
