@font-face {
  font-family: 'Quicksand-Light';
  src: url('../../assets/Quicksand/static/Quicksand-Light.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../assets/Quicksand/static/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url('../../assets/Quicksand/static/Quicksand-Medium.ttf');
}

.form {
  display: block;
}

.input__text {
  display: block;
  width: 100%;
  margin: 1em 0 2em 0;
}

.input__textarea {
  display: block;
  width: 100%;
  margin: 1em 0 2em 0;
}

.label {
  font-size: 17px;
}
.entryform__title {
  text-align: center;
  font-family: Quicksand-Medium;
}
