@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Quicksand/static/Quicksand-Regular.ttf');
}
@font-face {
  font-family: 'Quicksand-Medium';
  src: url('./assets/Quicksand/static/Quicksand-Medium.ttf');
}
@font-face {
  font-family: 'Quicksand-Light';
  src: url('./assets/Quicksand/static/Quicksand-Light.ttf');
}

body {
  margin: 0;
  font-family: Quicksand;
}
