@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Quicksand/static/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand-Light';
  src: url('./assets/Quicksand/static/Quicksand-Light.ttf');
}

* {
  box-sizing: border-box;
}

#root {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 80%;

  align-content: center;
}
